<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Pizza Confirmation</title>
  </head>
  <body>
    <h1>Your Pizza</h1>

    <p>Size: {{custom.size}} </p>
    <p>Toppings: {{custom.toppings}} </p>
    <p>Gluten-Free Crust: {{gf}} </p>
    <p>Special Instructions: {{custom.instructions}} </p>
    <p>Price: {{displayPrice}} </p>
    {{#if freeDelivery}}
      <p>Becuase your order meets the $15.00 minimum, you get
        <span class="free">FREE DELIVERY!</span></p>
    {{/if}}

    <a href="/customPizza">Build another pizza</a>
    <a href="/">Back to Homepage</a>
  </body>
</html>